.navbar{
    background-color: yellow;
}

.card{
    box-shadow:5px 10px #758283;
}
.thead{
    background-color: #758283;
}

@media (max-width :768px) {
    #dashboard,
    #search,
    #reload {
        display: none;
    }
}
