<!--cards-->

<div class="container-fluid">
  <div class="py-2">
    <h4>DASHBOARD</h4>
  </div>
  <div class="container-fluid">
    <section id="dashboard">
      <div class="row">
        <div class="col-xl-4 col-12 ">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <i class=" fa fa-envelope-open" style="font-size:60px;color:#293462;"></i>
                <div class="float-end">
                  <h3>{{trainerCount[0]}}</h3>
                  <span>Trainer Requests</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <i class="fa fa-user-circle-o" style="font-size:60px;color:#243D25;"></i>
                <div class="float-end">
                  <h3>{{trainerCount[1]}}</h3>
                  <span>allocated trainers</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <i class="fa fa-address-card-o" style="font-size:60px;color:violet;"></i>
                <div class="float-end">
                  <h3>{{trainerCount[2]}}</h3>
                  <span>Trainers</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!--table-->

  <div class="table-responsive py-5">
    <table class="table table-bordered table-hover table-striped">
      <thead class="thead">
        <tr>
          <th scope="col">NAME</th>
          <th scope="col">SKILLSET</th>
          <th scope="col">TYPE OF TRAINER</th>
          <th scope="col">COURSES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="input-group">
              <div class="form-outline  d-inline-flex px-2">
                <input type="search" id="form1" class="form-control" (change)="changeName($event)"  />
                <button type="button" class="btn btn-primary" (click)="searchName()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </td>
          <td>
            <div class="input-group">
              <div class="form-outline  d-inline-flex px-2">
                <input type="search" id="form1" class="form-control" (change)="changeSkill($event)"  />
                <button type="button" class="btn btn-primary" (click)="searchSkill()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </td>
          <td>
            <div class="input-group">
              <div class="form-outline  d-inline-flex px-2">
                <input type="search" id="form1" class="form-control" (change)="changeEmp($event)"  />
                <button type="button" class="btn btn-primary" (click)="searchEmp()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </td>
          <td>
            <div class="input-group">
              <div class="form-outline  d-inline-flex px-2">
                <input type="search" id="form1" class="form-control" (change)="changeCourse($event)"  />
                <button type="button" class="btn btn-primary" (click)="searchCourse()">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let trainer of trainersList">
          <td scope="row">{{trainer.trainerName}}</td>
          <td>{{trainer.skill}}</td>
          <td>{{trainer.typeOfEmp}}</td>
          <td>{{trainer.course}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- (click)="allocate(trainer)" -->