<app-header></app-header>
<!-- First Section -->
<div class="firstsection pb-3">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-8">
                <img  style="max-width:100%; max-height:100%;" src="https://ictkerala.org/assets/images/PHOTO_ICTAK-Reception.jpg" height="300px" alt="">
            </div>
            <div class="col-12 col-md-4 pt-4">

                <h2>ICTAK</h2>
                <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improving their employability opportunities in the Industry. The Company is supported by Govt. of India, partnered by Govt. of Kerala and the IT industry.</p>

            </div>
        </div>
    </div>

</div>
<!-- Second Section -->
<div class="secondsection">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-4 datasecond">

                <h2>Vision & Values</h2>
                <p>"To emerge as the single-point establishment for all the ICT related capability building in the state."</p>

            </div>
            <div class="col-12 col-md-8">
                <img  style="max-width:100%; max-height:100%;" src="https://ictkerala.org/assets/images/PHOTO_ICTAK-Vision.jpg"  alt="">
            </div>
        </div>
    </div>


</div>
<!-- Third Section -->
<div class="thirdsection">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-8">
                <img  style="max-width:100%; max-height:100%;" src="https://ictkerala.org/assets/images/PHOTO_ICTAK-Reception.jpg" height="300px" alt="">
            </div>
            <div class="col-12 col-md-4 pt-4 pb-5">

                <h2>Our Key Focus Areas</h2>
                <p>✔ Industry focused enablement programmes for Faculty members</p>
                <p>✔ Industry focused ICT Skills development programmes for Students,</p> 
                <p>✔ Project assignments related to capability building for Institutions and Corporate.</p>
                <p>✔ Creating Intellectual Property on niche skill areas and emerging technologies.</p>

            </div>
        </div>
    </div>


</div>
<app-footer></app-footer>