

<!--header starts-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a href="#" class="navbar-brand ms-4">
        <img src="../../assets/images/ict-logo.png" height="50" alt="logo">
    </a>
    <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="#">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">ABOUTUS</a>
            </li>
            <li class="nav-item d-flex">
                <a class="nav-link " href="#">LOGOUT</a>
            </li>
        </ul>
    </div>
   </nav> 
   <!--header ends-->
   
   
<div class="back">

<form #form="ngForm" (ngSubmit)="form.valid&&addTrainer()">
    <div class="title ">{{title}}</div><br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6"><div class="Image " >
            <img [src]="url" class="rounded mx-auto d-block pic"  name="img"  alt="..." width="150vh" height="150vh" ><br>
            <input type="file" id="photo" accept="image/*" class="custom" (change)="onFileSelected($event)" required>
                        </div></div>
        
        <div class="col-4"></div>
    </div>
<div class="row form-group box">
    <div class="col-2 "></div>
    <div class="col-2 "><label class="form-label" for="name"> Name</label></div>
    <div class="col-4 "><input type="text" class="form-control" required #name="ngModel"  name="name"  placeholder="Name" id="name"  [(ngModel)]="TrainerItem.name">
        <small class="text-danger" *ngIf="form.submitted&&name.errors?.['required']">*Enter your Name</small>
        <small class="text-danger" *ngIf="form.submitted&&name.errors?.['pattern']">*Enter valid Name</small>      
   </div>
    <div class="col-4 "></div>
</div>

    <div class="row form-group box">
    <div class="col-2 "></div>
    <div class="col-2 "><label class="form-label" for="emailId">Email</label></div>
    <div class="col-4 "><input type="email" #emailId="ngModel"  class="form-control" placeholder="Email ID" id="emailId" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)] = "TrainerItem.emailId" name="emailId">
        <small class="text-danger" *ngIf="form.submitted&&emailId.errors?.['required']">*Enter your Email address</small>
        <small class="text-danger" *ngIf="form.submitted&&emailId.errors?.['pattern']">*Enter valid email address</small>      
    </div>
    <div class="col-4 "></div>
    </div>

<div class="row form-group box">
    <div class="col-2 "></div>
    <div class="col-2 "><label for="phone">Phone</label></div>
        <div class="col-4"><input type="number" #phone="ngModel" class="form-control" id="phone" placeholder="Phone Number" required minlength = '10' maxlength="10" pattern="^[0-9()\-+\s]+$"  [(ngModel)] = "TrainerItem.phone" name="phone" >
        <small class="text-danger" *ngIf="form.submitted&&phone.errors?.['required']">*Enter your Contact Number</small>
        <small class="text-danger" *ngIf="form.submitted&&phone.errors?.['pattern']">*Enter valid Mobile Number</small>      
      </div> 
    <div class="col-4 "></div>
        </div>

        <div class="row form-group box">
            <div class="col-2 "></div>
            <div class="col-2 "><label for="address">Address</label></div>
            <div class="col-4 "> <input type="text" #address="ngModel" class="form-control" placeholder="Address" id="address" required [(ngModel)]="TrainerItem.address" name="address">
            <small class="text-danger" *ngIf="form.submitted&&address.errors?.['required']">*Enter your Address</small></div>
            <div class="col-4 "></div>
        </div>

        <div class="row form-group box">
            <div class="col-2 "></div>
            <div class="col-2 "><label for="qualification">Highest Qualification</label></div>
            <div class="col-4 "> <input type="text" #qualification="ngModel" class="form-control" placeholder="Highest Qualification" id="qualification" required [(ngModel)]="TrainerItem.qualification" name="qualification">
            <small class="text-danger" *ngIf="form.submitted&&qualification.errors?.['required']">*Enter your Higest Qualification</small></div>
            <div class="col-4 "></div>
        </div>
   
        <div class="row form-group box">
            <div class="col-2 "></div>
            <div class="col-2 "><label for="skill">Skill Set</label></div>
            <div class="col-4 "> <input type="text" #skill="ngModel" class="form-control" placeholder="Skill Set" id="skill" required [(ngModel)]="TrainerItem.skill" name="skill">
            <small class="text-danger" *ngIf="form.submitted&&skill.errors?.['required']">*Enter Skill</small></div>
            <div class="col-4 "></div>
        </div>
        
        <div class="row form-group box">
            <div class="col-2 "></div>
            <div class="col-2 "><label for="company">Current Company Name</label></div>
            <div class="col-4 "><input type="text" #company class="form-control" placeholder="Current Company Name" id="company"  [(ngModel)]="TrainerItem.company" name="company"></div>
            
            <div class="col-4 "></div>
        </div>

        <div class="row form-group box">
            <div class="col-2 "></div>
            <div class="col-2 "><label for="designation">Current Designation</label></div>
            <div class="col-4 "><input type="text" #designation class="form-control" id="designation" placeholder="Current Designation"  [(ngModel)]="TrainerItem.designation" name="designation"></div>
            <div class="col-4 "></div>
        </div>
        <div class="row form-group box">
            <div class="col-2 "></div>
            <div class="col-2 "><label for="course">ICTAK Courses Handling</label></div>
            <div class="col-4 ">
                <div *ngFor="let course of courses; let i = index">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" 
                        ngModel name="{{course.id}}">
                        {{course.name}}
                     </label>
                </div>
            </div>

            <div class="col-4 "></div>
        </div>

<!--
    <div class="row form-group box">
    <div class="col-2 "></div>
    <div class="col-2 "><label for="course">ICTAK Courses Handling</label></div>
    <div class="col-4 "><div class="form-check checkbx"  *ngFor="let course of courses; let i = index">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" required
          ngModel name="{{course.id}}">
          {{course.name}}
       </label></div></div>
    <div class="col-4 "></div>
</div>
--> 
        <div class="form-submit submitme">
             
            <button type="submit" value="Submit" class="submit" id="submit" name="submit" >Submit</button>
            <button type="reset"  value="Reset"  class="submit" id="reset" name="reset">Cancel</button>
           
        </div>

</form>
</div>

        </form>
        </div>
      </div>
    </div>
  

