/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}
.enrol{
  margin-left: 2%;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(88, 76, 76);
  font-size: bold;
  /*
 background-color: transparent;*/
 
  width: 100%;
}
.box{
  padding: 5px;
}

.back{

  background-image: url('../../assets/images/bg4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}


.tab1{
    width: 20%;
   height: 100%;
} 
.tab2{
    width: 100%;
    /*color:black;*/
    color:#999;
    font-weight: bold;
    border-collapse: separate;
    border-spacing:0 6px;
    height: 100%;
}
.submitme{
  margin-left: 40%;
  align-items: center;
  padding: 10px;
  display: inline-flex;
  margin-right: 4px;
}
.container>.button:not(:last-child) {
  margin-right: 10px;
 }
 #photo{
 
  display: flex;
  justify-content: center;
 align-items: center;
 color: black;
 left: 30%;
 cursor: pointer;
}
     
.custom{
  margin-left: 40%;
}
/*
 #submit {
  margin-bottom: 20px;
  margin-right: 0px; }
*/

 .submit {
  width: 150px;
  height: 50px;
  display: inline-block;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; }

  #reset {
    background: #fff;
    color: #999;
    border: 2px solid #ebebeb;
   }
    #reset:hover {
      border: 2px solid #1161ee;
      background: #1161ee;
      color: #fff; }
  
  #submit {
    background: #fff;
    color: #999;
    margin-right: 25px; 
    border: 2px solid #ebebeb;
  }

    #submit:hover {
      background-color: #1161ee; 
      color: #fff;
    }

    #submit:hover {
      border: 2px solid #1161ee;
      background: #1161ee;
      color: #fff; 
    }
      .tab{
        display: flex;
        align-items: center;
      }

      .title{
        text-align: center;
        font-size: x-large;
       

      }
  
     
      .title{
        text-align: center;
        font-size: x-large;
       
      }
   .clr{
    color: #999;
    padding: 6%;
    margin-top: 9%;
   }
   li{
    margin: 10px 0;
  }