
<div class="back">
    <div class="row">
        <div class="col-12 title">{{title}}</div>
     </div>
        <div class="home-content">
        <div class="signup-form" >
        <form (ngSubmit)="addRequest()" class="register-form"  #trainerEnroll="ngForm" ngNativeValidate>
            
            <div class="row form-group box">
                <div class="col-1 "></div>
                <div class="col-7"> <div class="Image" >
                    <img [src]="url" class="rounded mx-auto d-block" width="150vh" name="image" id="image" height="150vh" ngDefaultControl [(ngModel)]="image" alt="..." style="margin-left: 20%;" >
                    <label for="file" class="required" id="image" style="margin-left: 41%;">
                      </label >
                     <input type="file"  name="trainerName" class="custom" id="image" accept="image/*"  (change)="onFileSelected($event)" /> 
                </div></div>
                <div class="col-4 "></div>
             </div> 
            
            
             <div class="row form-group box" >
                <div class="col-1 "></div>
                <div class="col-3 "><label for="trainerName" class="required">Name</label></div>
                <div class="col-5 form-input"> <input type="text" class="form-control" name="trainerName" id="trainerName" [(ngModel)]="trainerName" required/></div>
                <div class="col-3 "></div>
            </div>
    
            <div class="row form-group box" >
                <div class="col-1 "></div>
                <div class="col-3 "><label for="email" class="required">Email</label></div>
                <div class="col-5 form-input"><input type="email" class="form-control" name="email" id="email" [(ngModel)]="email" disabled  required/></div>
                <div class="col-3 "></div>
            </div>
    
            <div class="row form-group box">
                <div class="col-1 "></div>
                <div class="col-3 "><label for="phone" class="required">Phone number</label></div>
                <div class="col-5 form-input"><input type="text" class="form-control" pattern="^((\\+91-?)|0)?[0-9]{10}$" name="phone" id="phone" [(ngModel)]="phone" required #phnField="ngModel"/>
                    <span style="color: Red; background-color: rgb(255, 217, 215); padding: 6px; margin-top: 5%;" *ngIf="trainerEnroll.submitted&&phnField.errors">Give a valid Phone No!</span></div>
                <div class="col-3 "></div>
            </div> 
    
            <div class="row form-group box">
                <div class="col-1 "></div>
                <div class="col-3 "><label for="company" class="required">Address</label></div>
                <div class="col-5 form-input"><input type="address" class="form-control" name="address" id="address" [(ngModel)]="address" required/></div>
                <div class="col-3 "></div>
            </div>
           
                   
            <div class="row form-group box">
                <div class="col-1 "></div>
                <div class="col-3 "> <label for="qualification" class="required">Highest Qualification</label></div>
                <div class="col-5 form-input"> <input type="text" class="form-control" name="qualification" id="qualification" [(ngModel)]="qualification" required/></div>
                <div class="col-3 "></div>
            </div>
            <div class="row form-group box">
                <div class="col-1 "></div>
                <div class="col-3 "><label for="skill">Skill Set</label></div>
              
               <div class="col-5 form-input">
                 <input type="text" class="form-control" name="skill" id="skill" ng-model="skill" [(ngModel)]="skill"  required/>
                 
                                     
                </div>
            
                <div class="col-3 "></div>     
            </div>
                    
            <div class="row form-group box">
                <div class="col-1 "></div>
                <div class="col-3 "><label for="companyName">Current Company</label></div>
                <div class="col-5 form-input"><input type="text" class="form-control" name="companyName" id="companyName" [(ngModel)]="companyName" required/></div>
                <div class="col-3 "></div>
            </div>
            <div class="row form-group box">
                <div class="col-1 "> </div>
                <div class="col-3 "> <label for="designation">Current Designation</label></div>
                <div class="col-5 form-input"><input type="text" class="form-control" name="designation" id="designation" [(ngModel)]="designation" required/></div>
                <div class="col-3 "></div>
            </div>
    
           
            <div class="row form-group box">
                <div class="col-1"></div>
                <div class="col-3 "><label for="course">ICTAK Courses Handling</label></div>
                <div class="col-6 ">
                    <select class="selectpicker" required multiple aria-label="size 3 select example" name="course" [(ngModel)]="course">
                        
                        <option *ngFor="let i of courses"  [ngValue]="i">{{i}}</option>                   
                    </select>
                    
                    
             
                       <!--- <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  name="course"  value="{{course.name}}" [(ngModel)]="course.selected" #course="ngModel"  >{{course.name}}
                        </label>-->
                    
                </div>
                <div class="col-2 "></div>
            </div>
    
    
            <div class="row form-group box">
                <div class="col-2 "></div>
                <div class="col-6 "><div class="form-submit submitme">
                 
                    <button type="submit" value="Submit" class="submit" id="submit" name="submit" >Submit</button>
                    <button type="button"   class="submit" id="submit" name="submit" (click)="reload()">Cancel</button>
                   
                </div></div>
                
                <div class="col-4 "></div>
            </div>
    
    <!--        <div class="form-submit ">
                <div class="col-1 "></div>
                <div class="col-5 submitme " ><button type="submit" value="Submit" [disabled]="trainerEnroll.form.invalid" click="validate()" class="submit" id="submit" name="submit">Submit</button></div>
                <div class="col-5 cancleme" > <input type="reset" value="Reset"  class="submit" id="reset" name="reset" /></div>
                <div class="col-1 "></div>
            </div>-->
              </form>   
                </div>
                    </div>
      
    </div>
    
    