<div class="row form-group box1" >
    <div class="col-12 ">
<h4>Dear Candidate,</h4><br>
<div class="contnt">
Thank you for applying to Trainer Position at ICTAK.<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
We appreciate your interest and the time you invested in applying for the position.
We regret to inform you that you did not make it to the next round.<br>
We're rapidly growing and will be recruiting for similar positions soon.<br>
We strongly urge you to keep an eye on our career page and social channels for updates.<br><br><br>

We wish you all the best for your future endeavors.<br><br><br>

Thanks,<br>
Team ICTAK</div>
    </div>
</div>