<div class="calender">
    <full-calendar [options]="calendarOptions"></full-calendar>

</div>

<div class="tableitem">
    <table class="table table-striped table-bordered shadow">
        <thead class="thead-light bg-info">
          <tr>
            <th scope="col">Batch</th>
            <th scope="col">Course</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Meeting Link</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trainer of trainerdata">
            <th scope="row">{{trainer.batchId}}</th>
            <td>{{trainer.course}}</td>
            <td>{{trainer.eStart | date:'mediumDate'}}</td>
            <td>{{trainer.eEnd | date:'mediumDate'}}</td>
            <td>{{trainer.eStart | date:'shortTime'}}</td>
            <td>{{trainer.eEnd | date:'shortTime'}}</td>
            <td>{{trainer.meetingLink}}</td>

          </tr>
          
        </tbody>
      </table>
</div>