.calender{
    padding: 25px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.871);
}
.tableitem{
    margin: 15px;
    margin-top: 25px;
    margin-bottom: 20vh;
    background-color: rgba(255, 255, 255, 0.871);

}