<div class="trainerhome">

    <div class="content" >
        <form (ngSubmit)="editProfile()">
            <div class="row justify-content-center forms" >
            <div class="col-12 col-sm-6 col-md-5 first ">
                <div class="text-center mb-4">
                  <img *ngIf='!isNewImage' src="{{imagePath}}/{{trainerData.image}}" alt="image" class="rounded-circle" name="image" id="image" height="150vh" ngDefaultControl [(ngModel)]="trainerData.image"
                  [style.width.px]='imageWidth'
                  [style.margin.px]="imageMargin">
                           
                </div>
                <div > 
                  
                  <strong ><h3>{{trainerData.trainerName}}</h3></strong>
                </div>
<div style="padding: 10%;">{{trainerData.about}}</div>

            </div>
            <div class="col-12 col-sm-6 col-md-5 second"><br>
              <div class="mb-3 mt-1 f-style">
                <label  class="form-label">Email</label>
                <div><strong>{{trainerData.email}}</strong></div>
               
              </div>
              <div class="mb-3 mt-1 f-style">
                <label  class="form-label">Phone</label>
                <div><strong>{{trainerData.phone}}</strong></div>
               
              </div>
              <div class="mb-3 mt-1 f-style">
                <label  class="form-label">Employee Type</label>
                <div><strong>{{trainerData.typeOfEmp}}</strong></div>
               
              </div>
                <div class="mb-3 mt-1 f-style">
                    <label  class="form-label">Address</label>
                    <div><strong>{{trainerData.address}}</strong></div>
                   
                  </div>

                  <div class="mb-3 f-style">
                    <label  class="form-label">Qualification</label>
                    <div><strong>{{trainerData.qualification}}</strong></div>
                  </div>

                  <div class="mb-3 f-style">
                    <label  class="form-label">Skills</label>
                    <div><strong>{{trainerData.skill}}</strong></div>
                  </div>


                  <div class="mb-3 f-style">
                    <label  class="form-label">Current Company</label>
                    <div><strong>{{trainerData.companyName}}</strong></div>
                  </div>
                  <div class="form-submit submitme text-center">
                   <button type="submit" value="Submit" class="submit" id="submit" >Edit Profile</button>
                    
                </div>
                
            </div>

        </div>
      </form>
    </div>

</div>
