<div class="trainerhome">

    <div class="content">
        <form (ngSubmit)="editProfile()">
            <div class="row justify-content-center forms">
            <div class="col-12 col-sm-6 col-md-5 first ">
                <div class="text-center mb-4">
                  <img *ngIf='!isNewImage' src="{{imagePath}}/{{trainerData.image}}" alt="image" class="rounded-circle" name="image" id="image" height="150vh" ngDefaultControl [(ngModel)]="trainerData.image"
                  [style.width.px]='imageWidth'
                  [style.margin.px]="imageMargin">
               <!--  <div class="text-center">            
                    <input type="file"  name="trainerName" class="custom" id="image" accept="image/*"  (change)="onFileSelected($event)">                 
                 </div>  -->               
                </div>

                <div class="input-group mb-4" style="text-align: center;">
                    <span >ID</span>
                  <strong> {{trainerData.id}} </strong> 
                  </div>

                  <div class="input-group mb-4" style="margin-left: 7vh;"> 
                    <span >Email</span>
                    <strong>{{trainerData.email}}</strong>
                  </div>

                 
                  <div class="input-group mb-4" style="margin-left: 9vh;">
                    <span >Phone</span>
                    <strong>{{trainerData.phone}}</strong>
                  </div>
                
            </div>
            <div class="col-12 col-sm-6 col-md-5 second">
                <div class="mb-3 mt-1">
                    <label  class="form-label">Address</label>
                    <div><strong>{{trainerData.address}}</strong></div>
                   
                  </div>

                  <div class="mb-3">
                    <label  class="form-label">Qualification</label>
                    <div><strong>{{trainerData.qualification}}</strong></div>
                  </div>

                  <div class="mb-3">
                    <label  class="form-label">Skills</label>
                    <div><strong>{{trainerData.skill}}</strong></div>
                  </div>


                  <div class="mb-3">
                    <label  class="form-label">Current Company</label>
                    <div><strong>{{trainerData.companyName}}</strong></div>
                  </div>

                  <div class="mb-3">
                    <label  class="form-label">Type of Employment</label>
                    <div><strong>{{trainerData.typeOfEmp}}</strong> </div>
                  </div>

                  <div class="mb-3">
                    <label  class="form-label">Course Handling</label>
                    <div *ngFor="let i of trainerData.course.split(',')" >
                        <strong><li>{{i}}</li></strong></div>
                  </div>

                 

                 

                  <div class="form-submit submitme text-center mt-5">
             
                    <button type="submit" value="Submit" class="submit" id="submit" >Edit Profile</button>
                   
                
                </div>
                
            </div>

        </div>
      </form>
    </div>

</div>
