/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}
.enrol{
  margin-left: 2%;
 
  font-family: 'Courier New', Courier, monospace;
  color: rgb(88, 76, 76);
  font-size: bold;
  /*
 background-color: transparent;*/
 background-color: aquamarine;
  width: 100%;
}

.back{
 
  background-image: url('../../assets/images/bg4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}
.box{
  padding: 1vh;
}
.re1{
  background-color: yellow;
}
.col1{
  background-color: #1161ee;
}
.col2{
  background-color: aqua;
}
.col3{
  background-color:blueviolet;
}
.col4{
  background-color: tomato;
}



.tab{
  display: flex;
  align-items: center;
  background-color: tomato;
}


.tab1{
    
    
   height: 100%;
   background-color: #1161ee;
} 
.tab2{
   
    /*color:black;*/
    color:#999;
    font-weight: bold;
    border-collapse: separate;
    border-spacing:0 6px;
    height: 100%;
    background-color: bisque;
}
.checkbx{
  color: #999;
  font-weight: lighter;
  margin-left: 5%;
}
.submitme{
  margin-left: 40%;
  align-items: center;
  padding: 10px;
  display: inline-block;
  margin-right: 4px;
}
.container>.button:not(:last-child) {
  margin-right: 10px;
 }
 #photo{
 /* background-color: rgb(70, 155, 224);
  width: 150px;
  height: 50px;
  border-radius: 1em;*/
  display: flex;
  justify-content: center;
 align-items: center;
 color: black;
 left: 30%;
 cursor: pointer;
}
     
.custom{
  margin-left: 14%;
}
 #submit {
  margin-bottom: 20px;
  margin-right: 0px; }


 .submit {
  width: 150px;
  height: 50px;
  display: inline-block;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px; }

  #reset {
    background: #fff;
    color: #999;
    border: 2px solid #ebebeb;
   }
    #reset:hover {
      border: 2px solid #1161ee;
      background: #1161ee;
      color: #fff; }
  
  #submit {
    background: #fff;
    color: #999;
    margin-right: 25px; 
    border: 2px solid #ebebeb;
  }
    #submit:hover {
      background-color: #1161ee; 
      color: #fff;
    }
    #submit:hover {
      border: 2px solid #1161ee;
      background: #1161ee;
      color: #fff; 
    }
     
      .title{
        text-align: center;
        font-size: x-large;
       
        color: #999;
      }
   .clr{
    color: #999;
    padding: 6%;
    margin-top: 9%;
   }
   li{
    margin: 10px 0;
  }

  .home{
    min-height: 90vh;
  }

  .trainerhome{
    min-height: 90vh;
}
.content{
    padding: 30px;
    padding-top: 50px;
}
.first{
    padding: 30px;
    border: 2px solid white;
    border-right: 0px;
    text-align: center;
    

}
.second{
    padding:30px;
    border: 2px solid white;
    border-left: 0px;


}
@media only screen and (max-width: 575px) {
    .forms {
        border: 2px solid white;
    }
    .second{
        border: 0px;
    }
    .first{
        border: 0px;
    }
  }
span{
    width :65px;
}

.submit {
    width: 150px;
    height: 50px;
    display: inline-block;
    /* font-family: 'Poppins'; */
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }

#submit {
    background: #1161ee;
    color: rgb(255, 252, 252);
    margin-right: 25px; 
    border: 2px solid #1161ee;
  }
    
    #submit:hover {
      border: 2px solid #1161ee;
      background: white;
      color: #1161ee; 
    }