
<!--sidebar-->
<div class="container-fluid">
    <div class="row flex-nowrap">
       
        <div class="col home pt-5">
        
            <div class="title ">{{title}}</div><br>
          
           
            <div class="row " *ngFor="let trainer of TrainerDetails" >
                <div class="col-1 "></div>
                <div class="col-4 " ><div class="container border">
                    <h1 class="text-center display-4"></h1>
                    <div class="row" >
                        <div class="col ">
                            <div class="row " style="margin-left: 20%;">
                                <div class="col"> <img [src]="url" alt="image" class="rounded-circle" 
                                    [style.width.px]='imageWidth'
                                    [style.margin.px]="imageMargin"></div>
                            </div>
                            <div class="row  form-group box">
                                <div class="col"><input class="form-control" type="text" name="" id="" disabled value="ID" ></div>
                            </div>
                            <div class="row box">
                                <div class="col ">
                                    <!--<input class="form-control" type="text" name="trainerName"  #trainerName="ngModel" disabled  [(ngModel)]="TrainerDetails.trainerName"  > -->
                                    <input class="form-control" type="text" name="" id="" disabled value="{{trainer.trainerName}}" >
                                </div>
                            </div>
                            <div class="row box">
                                <div class="col">
                                    <input class="form-control" type="text" name="" id="" disabled value="{{trainer.email}}" >
                                </div>
                            </div>
                            <div class="row box">
                                <div class="col">
                                    <input class=" form-control" type="text" name="" id="" disabled value="{{trainer.phone}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-5 "><div class="container border">
                    <h1 class="text-center display-4"></h1>
                    <div class="row">
                        <div class="col border">
                           
                            <div class="row box">
                                <div class="col"><label>Address</label><input type="text" class="form-control" disabled value="{{trainer.address}}"></div>
                            </div>
                            
                            <div class="row box">
                                <div class="col"><label>Qualification</label><input type="text" class="form-control" disabled value="{{trainer.qualification}}"></div>
                            </div>
                            <div class="row box">
                                <div class="col"><label>Skills</label><input type="text" class="form-control" disabled value="{{trainer.skill}}"></div>
                            </div>
                            <div class="row box">
                                <div class="col"><label>Current company</label><input type="text" class="form-control" disabled value="{{trainer.companyName}}"></div>
                            </div>
                            <div class="row box">
                                <div class="col"><label>Course handling</label><input type="text" class="form-control" disabled value="{{trainer.course}}">
                            
                            
                        </div>
                    </div>
                </div></div>
               
                <div class="col-2 "></div>
                
            </div>
            <div class="form-submit submitme">
             
                <button type="submit" value="Submit" class="submit" id="submit" name="submit"  >Edit Profile</button>
               
            
            </div>
       
            
    </div>
    </div>
</div>

