.formdata{
    width: 90%;
}
form{
    background-color: #DC8665;
    margin-bottom: 35px;
}
.formdata .row .form-label{
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.formdata .row .btn{
    border-radius: 25px;
    background-color: navy;
}