<div>
    <h3 class="text-center mt-5">Current Offerings</h3>

    <div class="container mt-5 p-3">
        <div class="row justify-content-around">
                
            
            <div  class="col-6 col-md-4 col-lg-3 mb-5 ">
                    <div data-aos="fade-right" data-aos-duration="800" class="card cardborder" style="max-width: 18rem;">
                        <img src="https://drive.google.com/uc?id=1rrByY5BuYrwOYZnZ9hapBhgb5e4FM7v6" class="cardimgborder card-img-top" alt="...">
                        <div class="card-title text-center">
                            <h5>Certified Specialist in ML-AI</h5>
                        </div>
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                   </div>
                
            
             <div class="col-6 col-md-4 col-lg-3 mb-5">
                    <div data-aos="fade-down-right" data-aos-duration="800" class="card  cardborder" style="max-width: 18rem;">
                        <img src="https://drive.google.com/uc?id=1o6uJDZ6OiLBSvBGoUakoox5tQWNJ5Ni2" class="cardimgborder card-img-top" alt="...">
                        <div class="card-title text-center">
                            <h5>Certified Specialist in ML-AI</h5>
                        </div>
                      <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   </div>
                 </div>
            </div>        
            
            <div class="col-6 col-md-4 col-lg-3 mb-5">
                <div data-aos="fade-down-left" data-aos-duration="800" class="card cardborder" style="max-width: 18rem;">
                    <img src="https://drive.google.com/uc?id=14svEIUXx8oZEQYiO3Qgjst07Qw-9-G-5" class="cardimgborder card-img-top" alt="...">
                    <div class="card-title text-center">
                        <h5>Certified Specialist in ML-AI</h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
               </div>               
            
                                  
               <div class="col-6 col-md-4 col-lg-3 mb-5">
                <div data-aos="fade-left" data-aos-duration="800" class="card cardborder" style="max-width: 18rem;">
                    <img src="https://drive.google.com/uc?id=1DWOxGkf5VCTuEqz926Th859cX7s_D41g" class="cardimgborder card-img-top" alt="...">
                    <div class="card-title text-center">
                        <h5>Certified Specialist in ML-AI</h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
               </div>                      
            
               <div class="col-6 col-md-4 col-lg-3 mb-5">
                <div data-aos="fade-right" data-aos-duration="800" class="card cardborder" style="max-width: 18rem;">
                    <img src="https://drive.google.com/uc?id=1ZHiDdglJWHuMFfrv5rdbxIfGjN9258FN" class="cardimgborder card-img-top" alt="...">
                    <div class="card-title text-center">
                        <h5>Certified Specialist in ML-AI</h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
               </div>                         
            
               <div class="col-6 col-md-4 col-lg-3 mb-5">
                <div data-aos="fade-up-right" data-aos-duration="800" class="card cardborder" style="max-width: 18rem;">
                    <img src="https://drive.google.com/uc?id=1pece2np6qiFx62uMIwi_vwrzf8B5rosG" class="cardimgborder card-img-top" alt="...">
                    <div class="card-title text-center">
                        <h5>Certified Specialist in ML-AI</h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
               </div>                                  
            
               <div class="col-6 col-md-4 col-lg-3 mb-5">
                <div data-aos="fade-up-left" data-aos-duration="800" class="card cardborder" style="max-width: 18rem;">
                    <img src="https://drive.google.com/uc?id=1lqfIi866MztTnFkC3-zgpvuhbYlVWc3Z" class="cardimgborder card-img-top" alt="...">
                    <div class="card-title text-center">
                        <h5>Certified Specialist in ML-AI</h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
               </div>                                     
               
               <div class="col-6 col-md-4 col-lg-3 mb-5">
                <div data-aos="fade-left" data-aos-duration="800" class="card cardborder" style="max-width: 18rem;">
                    <img src="https://drive.google.com/uc?id=1XO-WL0ShePT3X6ahmJaZvKWcDrio7hsT" class="cardimgborder card-img-top" alt="...">
                    <div class="card-title text-center">
                        <h5>Certified Specialist in ML-AI</h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
               </div>

        </div>
    </div>
</div>
