<div class="coursehome">
    <h3 class="text-center pt-5 heading22">Current Offerings</h3>

    <div class="container mt-5 p-3">
        <div class="row justify-content-around">
                
            
            <div  class="col-6 col-md-4 col-lg-3 mb-5 ">
                    <div data-aos="fade-right" data-aos-duration="800" class="shadow card cardborder" style="max-width: 18rem;">
                        <img src="https://drive.google.com/uc?id=1rrByY5BuYrwOYZnZ9hapBhgb5e4FM7v6" class="cardimgborder card-img-top" alt="...">
                        <div class="card-title text-center">
                            <h5 class="pt-2 heading33">Certified Specialist in ML-AI</h5>
                        </div>
                        <div class="card-body">
                          <p class="card-text">Machine Learning (ML) and Artificial Intelligence (AI) are transforming our world, and the adaptation rate of ML/AI technologies is high.</p>
                        </div>
                      </div>
                   </div>
                
            
             <div class="col-6 col-md-4 col-lg-3 mb-5">
                    <div data-aos="fade-down-right" data-aos-duration="800" class="card shadow cardborder" style="max-width: 18rem;">
                        <img src="https://drive.google.com/uc?id=1o6uJDZ6OiLBSvBGoUakoox5tQWNJ5Ni2" class="cardimgborder card-img-top" alt="...">
                        <div class="card-title text-center">
                            <h5>Certified Specialist In FSD (MEAN)</h5>
                        </div>
                      <div class="card-body">
                      <p class="card-text">The MEAN stack is an excellent choice for web developers who wish to develop high-quality web applications by using JavaScript.</p>
                   </div>
                 </div>
            </div>        
            
            <div class="col-6 col-md-4 col-lg-3 mb-5">
                <div data-aos="fade-down-left" data-aos-duration="800" class="card shadow cardborder" style="max-width: 18rem;">
                    <img src="https://drive.google.com/uc?id=14svEIUXx8oZEQYiO3Qgjst07Qw-9-G-5" class="cardimgborder card-img-top" alt="...">
                    <div class="card-title text-center">
                        <h5>Certified Specialist in Software Testing</h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Software testing is the art of investigating software to ensure the quality matches the client's requirements and find out all bugs in program</p>
                    </div>
                  </div>
               </div>               
            
                                  
               <div class="col-6 col-md-4 col-lg-3 mb-5">
                <div data-aos="fade-left" data-aos-duration="800" class="card shadow cardborder" style="max-width: 18rem;">
                    <img src="https://drive.google.com/uc?id=1DWOxGkf5VCTuEqz926Th859cX7s_D41g" class="cardimgborder card-img-top" alt="...">
                    <div class="card-title text-center">
                        <h5>Certified Specialist in Data Science & Analytics</h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Data Scientists are a breed of data experts who have the technical skills to solve complex problems, turn information to improve business.</p>
                    </div>
                  </div>
               </div>                      
            
               <div class="col-6 col-md-4 col-lg-3 mb-5">
                <div data-aos="fade-right" data-aos-duration="800" class="card shadow cardborder" style="max-width: 18rem;">
                    <img src="https://drive.google.com/uc?id=1ZHiDdglJWHuMFfrv5rdbxIfGjN9258FN" class="cardimgborder card-img-top" alt="...">
                    <div class="card-title text-center">
                        <h5>Certified Specialist in Robotic Process Automation</h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Robotic Process Automation offers the ability to gather, organize, track, analyze, report on, and store valuable data. With RPA, the work performed will be error-free </p>
                    </div>
                  </div>
               </div>                         
            
               <div class="col-6 col-md-4 col-lg-3 mb-5">
                <div data-aos="fade-up-right" data-aos-duration="800" class="card shadow cardborder" style="max-width: 18rem;">
                    <img src="https://drive.google.com/uc?id=1pece2np6qiFx62uMIwi_vwrzf8B5rosG" class="cardimgborder card-img-top" alt="...">
                    <div class="card-title text-center">
                        <h5>Certified Cyber Security Analyst</h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Cyber Security is a specialized field in Information Technology. Cyber Security as a profession has evolved over the years, as a result of increasing rate of cybercrimes. </p>
                    </div>
                  </div>
               </div>                                  
            
               <div class="col-6 col-md-4 col-lg-3 mb-5">
                <div data-aos="fade-up-left" data-aos-duration="800" class="card shadow cardborder" style="max-width: 18rem;">
                    <img src="https://drive.google.com/uc?id=1lqfIi866MztTnFkC3-zgpvuhbYlVWc3Z" class="cardimgborder card-img-top" alt="...">
                    <div class="card-title text-center">
                        <h5>Certified Specialist in Digital Marketing
                        </h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text">This program aims at covering the essential marketing and advertising concepts, basics of front-end development, in-depth knowledge of marketing and analytical tools.</p>
                    </div>
                  </div>
               </div>                                     
               
               <div class="col-6 col-md-4 col-lg-3 mb-5">
                <div data-aos="fade-left" data-aos-duration="800" class="card shadow cardborder" style="max-width: 18rem;">
                    <img src="https://drive.google.com/uc?id=1XO-WL0ShePT3X6ahmJaZvKWcDrio7hsT" class="cardimgborder card-img-top" alt="...">
                    <div class="card-title text-center">
                        <h5>Certified Specialist In FSD (MERN)
                        </h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text"> MERN stack, in addition to using high-performance and customized technologies, allows users in easier and faster deployment of full-stack web applications.</p>
                    </div>
                  </div>
               </div>

        </div>
    </div>
</div>
