<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light">
    <i class="fa fa-th-list px-2 fs-2" aria-hidden="true"></i>
    <h4 class="py-2 mt-2">TRAINERS LIST</h4>
</nav>

<!--table-->
<table class="table table-hover table-secondary table-responsive ">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">TrainerID</th>
            <th scope="col">Name</th>
            <th scope="col">Type of employment</th>
            <th scope="col">Course handling</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>
                <button type="submit" class="btn btn-success" routerLink="/admin">ALLOCATE</button>
            </td>
            <td>
                <button class="btn btn-danger">REMOVE</button>
            </td>
        </tr>
    </tbody>
</table>


