<!--navbar-->
<nav class="navbar navbar-expand-lg navbar-light">
    <i class=" fa fa-envelope-open px-2 fs-2"></i>
    <h4 class="py-2 mt-2">TRAINER REQUESTS</h4>
</nav>

<!--table-->
<table class="table table-hover table-secondary table-responsive ">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">qualification</th>
            <th scope="col">company name</th>
            <th scope="col">designation</th>
            <th scope="col">skillset</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let trainer of trainerData">
            <td>{{trainer.trainerName}}</td>
            <td>{{trainer.qualification}}</td>
            <td>{{trainer.companyName}}</td>
            <td>{{trainer.designation}}</td>
            <td>{{trainer.skill}}</td>
            <td>
                <button class="btn btn-success" routerLink="/admin/approval" (click)="approveRequest(trainer)">approve</button>
            </td>
            <td>
                <button class="btn btn-danger"(click)=rejectTrainer(trainer) >reject</button>
            </td>
        </tr>
    </tbody>
</table>
