
<!--navbar-->
<div class="bgground">
<section>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="d-flex">
        <i class="fa fa-th-list px-2 pt-2 fs-2" aria-hidden="true"></i>
        <h4 class="py-2">APPROVED COURSES</h4>
        </div>
    </nav>
</section>


<!--table-->
<section class="m-4">
    <table class="table table-hover p-5 shadow table-bordered">
        <thead class="thead-light bg-info">
            <tr>
                <th scope="col">Course</th>
                <th scope="col">ID</th>
                <th scope="col">Type of employment</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let trainer of approvedData" >
                <td>{{trainer.course}}</td>
                <td>{{trainer.id}}</td>
                <td>{{trainer.typeOfEmp}}</td>
            </tr>
        </tbody>
    </table>
    
    
</section>
</div>