<nav class="navbar navbar-expand-lg navbar-light">
    <i class=" fa fa-user-circle-o px-2 fs-2" aria-hidden="true"></i>
    <h4 class="py-2 mt-2">ALLOCATED SESSIONS</h4>
</nav>

<div class="d-flex justify-content-center homelist">
    <div class="trainerlist">

        <div *ngFor="let i of trainerData" class="trainerdata shadow-sm mb-4">
            
            <div class="listbox">
                <h5>Course:  {{i.course}}</h5>
                <h5 class="pb-2">Batch:  {{i.batchId}}</h5>
                <h5 class="pb-2 pt-2 mbl">Name :  {{i.trainer}}</h5>
                <h6>Associate : {{i.associative}}</h6>
                <div  > 
                <div>Start Date&nbsp; &nbsp;&nbsp;Time: &nbsp; {{i.eStart}}
                    <!--Duration:  ({{i.startDate}}) - ({{i.endDate}})-->
                </div>
                <div> End Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time:&nbsp; {{i.eEnd}}</div>
                </div>
                <div>Meeting Link&nbsp;: &nbsp; {{i.meetingLink}}</div>

            </div>
        </div>
    </div>
</div>