<nav class="shadow navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <div class="mx-5">
            <a class="navbar-brand" routerLink=""><img src="https://ictkerala.org/assets/images/cropped-ict-ico.png" style="width:65px" alt=""></a>
        </div>      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2">
                <li class="nav-item mx-3">
                  <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link active" href="#courses">Courses</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link active" routerLink="/aboutus">About Us</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link active" routerLink="/login">LogIn</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link active" routerLink="/signup">SignUp</a>
                </li>
              </ul>
        <div>
        </div>
      </div>
    </div>
  </nav>
