<div class="bg-dark footerwidth ">

    <div class="text-center word22 pt-3"><h4>Connect Us</h4></div>
    <div data-aos="zoom-in" data-aos-duration="600" class="social mb-5">
        <ul class="no-list">
            <a  href="https://www.facebook.com/ictkerala/" target="_blank">
                <li  class="facebook"><i class="fab fa-facebook-f"></i></li>
            </a>
            <a href="https://twitter.com/ictakerala" target="_blank">
                <li class="twitter"><i class="fab fa-twitter"></i></li>
            </a>
            <a href="http://linkedin.com/company/ictkerala" target="_blank">
                <li class="facebook"><i class="fab fa-linkedin"></i></li>
            </a>
            <a  href="">
                <li class="google-plus"><i class="fa-solid fa-envelope"></i></li>
            </a>
            <a  href="https://www.instagram.com/ictkerala/?hl=en" target="_blank">
                <li class="instagram"><i class="fab fa-instagram"></i></li>
            </a>
            <a href="https://www.youtube.com/user/ictkerala" target="_blank">
                <li class="youtube"><i class="fab fa-youtube"></i></li>
            </a>
          </ul>
    </div>



    <div style="font-family: 'Chakra Petch', sans-serif;" class="text-center text-white pt-3" >
        <div>Copyright © 2022 <a style="cursor: pointer;">ICTAK</a></div>
        <div class="span2 mb-2">
            Made with <i class="fa fa-heart pulse"></i> in  <img src="https://cdn-icons-png.flaticon.com/512/256/256672.png" width="22px" alt="India">
        </div>
    </div>
</div>